doctype html
html
  head
    title Latin Dance Academy
    //- All the content form home.pug will come to base.pug 
    //- Such as scripts and style will come from home.pug
    block scripts
    block style
      
  body
    nav#navbar 
        ul
            div#logo
                img(src="/static/images/lg.jpg") 
                | LDA
            li #[a(href='/') Home]  
            li #[a(href='/') About] 
            li #[a(href='/') Services] 
            li #[a(href='/') Class Information] 
            li #[a(href='/contact') Contact Us]
    block content
    footer#ourfooter 
      | Copyright © 2023 Latindanceacademy.com
      